<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Budgtr ALL</h1>
    <div class="container">
        <table>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>From</th>
                <th>Amount</th>
                <th>Tags</th>
            </tr>
            <% for (let i = 0; i < Budget.length; i++) { %>
                <tr>
                    <td><%= Budget[i].date %></td>
                    <td><a href = "/budgets/<%=i%>"><%= Budget[i].name %></a></td>
                    <td><%= Budget[i].from %></td>
                    <td><%= Budget[i].amount %></td>
                    <td><%= Budget[i].tags %></td>
                </tr>
            <% } %> 
        </table>
    </div>
</body>
</html>